<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/user/create" enctype="multipart/form-data"> 
        <input type="text" name="name" id="" placeholder="Nombre">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="password" name="pass" id="" placeholder="Contraseña">
        <input type="file" name="foto" id="">
        <input type="submit" value="Enviar">
    </form>

    <form method="post" action="/user/update">
        <div>
          <input placeholder="viejo mail" name="oldMail" />
          <input placeholder="nuevo mail" name="newMail" />
        </div>
        <button type="submit">modificar</button>
    </form>
</body>
</html>